from bevy import dependency
from serv.plugins import Plugin
from serv.routing import Router


class {{ class_name }}(Plugin):
    async def on_app_request_begin(self, router: Router = dependency()) -> None:
        router.add_route("/hello", self._hello_handler, methods=["GET"])
        
    async def _hello_handler(self):
        return "Hello from {{ plugin_name }} plugin!" 